body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.logo img {
  width: 70%; /* You can adjust this percentage based on your logo's appearance */
}
.logo {
  margin-bottom: 10px; /* adjust this value as required */
}

.btn-outline-dark:hover {
  background-color: #333;
  color: #fff;
}
